@charset "utf-8";
/*3转4*/



/*新首页开始*/







#indexPage .module .content { top: 0px; }
#indexPage #mslider .content { margin: 0; height: 850px; }
#indexPage #mservice .content { margin: 0; position: inherit }
#indexPage #mproject .content { margin: 0; height: 895px; position: inherit }
#indexPage #mpage .content { margin: 0; height: 470px; position: inherit; padding-top: 90px; border-top: 1px solid #f3f3f3; }
#indexPage #mteam .content { margin: 0; height: 550px; position: inherit }
#indexPage #mnews .content { position: inherit; padding: 90px 0 160px; height: 570px; width: 1200px; margin: 0 auto; }
#indexPage #mcontact .content { margin: 0; height: 280px; position: inherit }
#indexPage #mpartner .content { margin: 0; height: 130px; position: inherit }
/*头部*/



#header .content { width: 1200px; margin: 0 auto; z-index: 10; padding: 10px 0; transition: all .3s ease-out 0s; }
#header ul#nav { float: right; }
#header ul li.navitem { padding: 0px; }
#header ul li.navitem a { line-height: 36px; height: 36px; border-radius: 18px; text-align: center; padding: 10px 26px; color: #fff; font-size: 14px; margin: 0 .5px; }
#header ul li.navitem a:hover, #header ul li.navitem a.active { background-color: #13df81; color: #fff; }
#header ul li.navitem ul.subnav { border-color: transparent; background: #fff; padding: 22px 0 20px 0; border-radius: 6px; box-shadow: 0 6px 10px rgba(0, 0, 0, .1); margin-top: 10px; }
#header ul li.navitem ul.subnav li a { border-radius: 0px; background: rgba(255,255,255,0); color: #6E6E6E; font-size: 14px; padding: 14px 29.5px; width: 132px; }
#header ul li.navitem ul.subnav li { border-bottom: 1px solid #f1f2f2; }
#header ul li.navitem ul.subnav li a:hover { background-color: #f7f7f7; color: #6E6E6E; text-indent: 0px; }
#header ul li.navitem ul.subnav li a i { display: none; }
#header ul li.navitem ul.subnav:after { content: ''; display: block; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid #fff; position: absolute; top: -12px; right: 46%; }
#header.mini { padding-top: 0px; background-color: rgba(57, 66, 79, .92); box-shadow: 0 2px 6px rgba(0, 0, 0, .08); }
#header.mini .content { padding-bottom: 0px }
#header ul li.navitem a.active, #header ul li.navitem:hover a { background-color: #13df81; color: #fff; }
#header ul li.navitem ul.subnav { width: 192px; }
#indexPage .module.bgShow .bgmask { display: none; }
#indexPage #mslider .bx-wrapper { position: relative; }
#indexPage #mslider .bx-wrapper .bx-pager-item { float: none; }
.index_nav#header ul li.navitem a:hover, .index_nav#header ul li.navitem a.active { background-color: #fff; color: #333; }
/*服务*/



#indexPage #mservice .content { width: 1200px; margin: 0 auto; padding: 92px 0; height: 152px; }
#mservice .content > .header { width: 300px; float: left; padding-top: 25px; }
.content .header p { text-align: left; }
.content .header p.title { font-size: 24px; color: #333; line-height: 38px; height: 38px; width: 200px; overflow: hidden; }
.content .header p.subtitle { width: 200px; height: 26px; font-size: 14px; color: #b1b1b1; line-height: 26px; overflow: hidden; font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"; }
#servicelist .serviceitem div p.title { margin-top: 12px; color: #444; font-size: 18px; line-height: 34px; height: 34px; overflow: hidden; margin-bottom: 12px; transition: none; }
#servicelist { width: 600px; float: left; }
#servicelist .serviceitem { height: auto; }
#servicelist .serviceitem:hover .title { color: #444 }
#servicelist .serviceitem a:after { content: ''; display: block; clear: both; }
#servicelist .serviceitem a img { float: left; width: 240px; height: 150px; }
#servicelist .serviceitem a div { float: left; width: 278px; height: 150px; padding: 25px 0 0 30px; text-align: left; margin-top: 0px; }
#servicelist .serviceitem div p.description { text-align: left; color: #b1b1b1; line-height: 26px; height: 52px; overflow: hidden; font-size: 12px; }
#mservice .bx-controls-direction { display: none; }
#indexPage #mservice .wrapper .bx-wrapper .bx-pager { display: block; width: auto; left: 50%; margin-left: -24px; }
.bx-wrapper .bx-pager-item { width: 3px; height: 3px; background: #626262; margin-right: 20px; border-radius: 2px; position: relative; float: left; }
.bx-wrapper .bx-pager.bx-default-pager a { width: 11px; height: 11px; margin-left: -5px; margin-top: -5px; border-color: transparent }
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover { border-color: #13DF81; background: #fff; width: 11px; height: 11px; border-radius: 13px; }
/*more*/



#indexPage a.more { display: block; width: 78px; height: 18px; border-radius: 13px; padding-top: 5px; position: absolute; top: 8px; right: 0; border: 1px solid #e7e7e7; display: block; transition: all .3s ease-out 0s; overflow: hidden }
#indexPage a.more:after { content: ''; display: block; background: url(../images/icon.png) no-repeat 0 -21px; width: 34px; height: 14px; display: block; margin-left: 35px; transition: all .3s ease-out 0s; top: 4px; position: absolute; }
#indexPage a.more:hover { background: #13df81; border: 1px solid #13df81; }
#indexPage a.more:hover:after { background: url(../images/icon.png) no-repeat 0 -37px; }
#indexPage #mservice a.more { top: 80px; }
/*案例*/

#indexPage #mproject .content .wrapper { margin-left: 1%; }
#indexPage #mproject .content { background-color: #F7F7F7; padding: 120px 0; height: auto; }
#mproject .content > .header { width: 1200px; margin: 0 auto; padding-bottom: 40px; }
#mproject #projectlist { width: 1200px; margin: 0 auto; position: relative; }
#mproject #projectlist .projectitem { float: left; margin: 0 15px 15px 0; width: 390px; height: 260px; overflow: hidden; background: #fff; transition: all .45s cubic-bezier(.215, .61, .355, 1); }
#mproject #projectlist .content_list { width: 1215px; margin-left: -15px; }
#projectlist .projectitem a .project_info { height: 74px; width: 100%; position: absolute; bottom: 0px; transition: all .45s cubic-bezier(.215, .61, .355, 1); background: #fff; top: auto; bottom: -74px; }
#projectlist .projectitem a .project_info div:after { clear: both; content: ''; display: block; }
#projectlist .projectitem a .project_info p.title { margin-top: 0px; font-size: 16px; color: #666; height: 26px; line-height: 26px; overflow: hidden; text-align: left; width: 270px; float: left; }
#projectlist .projectitem a .project_info p.subtitle { color: #999; height: 20px; line-height: 20px; overflow: hidden; margin-top: 0px; text-align: left; width: 270px; float: left; }
#projectlist .projectitem a .project_info p.description { width: 36px; height: 36px; border-radius: 20px; display: block; background: #13df81; margin-top: 8px; padding: 0px; position: absolute; bottom: 4px; right: 20px; transition: all .3s ease-out 0s; float: right; color: transparent; }
#projectlist .projectitem a .project_info p.description:after { content: ''; background: url(../images/icon.png)no-repeat 0 -71px; width: 14px; height: 9px; display: block; margin: 13px 0 0 11px; position: absolute; top: 0px; }
#projectlist .projectitem a .project_info div { margin-top: -24px; }
#projectlist .projectitem a:hover .project_info p.title { color: #666; }
#projectlist .projectitem a:hover .project_info p.subtitle { color: #999; }
#mproject #projectlist .projectitem:hover { box-shadow: 0 6px 10px 5px rgba(0, 0, 0, .08); }
#projectlist .projectitem:hover a img { transform: scale(1, 1); margin-top: -36px; }
#projectlist .projectitem:hover a .project_info { bottom: 0px; background: #fff; }
#indexPage #mproject a.more { margin: 0; top: -96px; }
/*关于*/



#mpage .module-content .header { width: 1200px; margin: 0 auto; padding-bottom: 0px; }
#indexPage #mpage .wrapper li { width: 1200px; margin: 0 auto; position: relative; }
#mpage .module-content .more { margin: 0; }
#mpage .module-content .description { float: left; width: 615px; padding: 80px 0; text-align: left; height: auto; }
#indexPage #mpage .wrapper li .fimg { float: right; width: 550px; height: 390px; }
/*新闻*/







#indexPage #mnews { background-color: transparent; border-top: 1px solid #f3f3f3; }
#indexPage #mnews .content .header { display: block; width: 1200px; margin: 0 auto; padding-bottom: 0px; }
#newslist .newstitem .newsimg { display: none; }
#newslist .newstitem.left a.newscontent, #newslist .newstitem.left a.newscontent:hover, #newslist .newstitem.right a.newscontent, #newslist .newstitem.right a.newscontent:hover { padding: 0px; }
#newslist .news_wrapper, #newslist .newstitem a.newscontent:hover .news_wrapper { width: 100%; }
#newslist .separator { display: none; }
#newslist { width: 1200px; }
#indexPage #newslist { width: 1200px; padding: 0px; }
#newslist .newsbody { width: 100%; max-width: 100%; height: 100%; }
#newslist .newstitem { width: 358px; height: 358px; border: 1px solid #f2f2f2; position: relative; background-color: #fff; float: left; margin-right: 58px; margin-bottom: 60px; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; }
#newslist .newstitem:last-child { margin-right: 0px }
#newslist .newsbody .date { position: absolute; top: auto; background: #f7f7f7; height: 88px; display: block; padding: 22px 40px 0 40px; left: 0px; bottom: 0px; width: 278px; margin-bottom: 0px; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; }
#newslist .newsbody .date .year { font-size: 50px; color: #8F8F8F; line-height: 46px; display: block; font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"; position: absolute; font-weight: normal; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; }
#newslist .newsbody .date .md { color: #999; line-height: 20px; overflow: hidden; display: block; font-size: 14px; font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"; position: absolute; top: 62px; font-weight: normal; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; }
#newslist .newsbody .date .md span { display: none; }
#newslist .newsbody .title { font-size: 16px; color: #575757; line-height: 32px; height: 64px; overflow: hidden; padding: 54px 40px 0 40px; text-align: left; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; }
#newslist .newsbody .description { width: auto; color: #999; line-height: 26px; height: 78px; overflow: hidden; margin-top: 16px; padding: 0px 40px 0 40px; text-align: left; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; }
#indexPage #newslist a.details { border-color: #13df81; width: 36px; height: 36px; border-radius: 20px; display: block; background: #13df81; position: absolute; bottom: -5px; right: 20px; transition: all .3s ease-out 0s; display: block; z-index: 1; overflow: hidden; opacity: 0; }
#indexPage #newslist a.details:after { content: ''; background: url(../images/icon.png)no-repeat 0 -71px; width: 14px; height: 9px; display: block; margin: 13px 0 0 11px; position: absolute; top: 0px; }
#newslist .newstitem:hover { height: 438px; background: #13df81; margin-top: -40px; border-color: #fff; box-shadow: 0 6px 20px 5px rgba(0, 0, 0, .08); }
#newslist .newstitem:hover .title { padding-top: 94px; }
#newslist .newstitem:hover .newsbody .date .md { color: #13DF81; }
#newslist .newstitem:hover .newsbody .date .year { color: #13DF81; }
#newslist .newstitem:hover .news_wrapper { background: transparent }
#newslist .newstitem:hover .title { color: #fff; }
#newslist .newstitem:hover .description { color: #fff; }
#indexPage #newslist .newstitem:hover a.details { opacity: 1; }
#newslist .wrapper:after { content: ''; display: block; clear: both; }
/*团队*/







#indexPage .module.bgShow { background-attachment: inherit; background-position: center !important; background-color: #13df81 }
#indexPage #mteam .content .fw { width: 300px; }
#indexPage #mteam .header img { width: auto; max-width: inherit; margin: 0; border-radius: 0px; height: 100%; margin: 0 -84px; }
#indexPage #mteam .content_list .header:after { content: ''; display: block; border-radius: 6px; position: absolute; left: 50%; width: 9px; height: 9px; bottom: 138px; margin-left: -5px; background-color: #FFF; }
#indexPage #mteam .content_list .header:before { content: ''; border-radius: 6px; position: absolute; left: 50%; width: 1px; height: 30px; bottom: 110px; margin-left: -1px; background: -webkit-linear-gradient(red, transparent); background: -o-linear-gradient(red, transparent); background: -moz-linear-gradient(#FFF, transparent); background: linear-gradient(#FFF, transparent); }
#indexPage #mteam .content_list .header { width: 202px; height: 202px; border-radius: 130px; display: block; margin: 0 auto; overflow: hidden; }
#indexPage #mteam .bx-viewport { height: 412px !important }
#indexPage #mteam .description { width: 100%; color: #fff; font-size: 13px; text-align: center; display: block; line-height: 26px; height: 52px; overflow: hidden; }
#indexPage #mteam .summary { margin: 24px auto; }
#indexPage #mteam .summary p.title { font-size: 18px; display: block; height: 42px; line-height: 42px; overflow: hidden; text-align: center; }
#indexPage #mteam .summary p.subtitle { display: none; }
#indexPage #mteam .summary p.title a { color: #fff; }
#indexPage #mteam .content_list li { margin-top: 94px; }
#indexPage #mteam .bx-wrapper .bx-controls-direction a { display: none; }
#indexPage #mteam .bx-pager { display: block; width: auto; position: relative; bottom: -100px }
#indexPage #mteam .bx-pager:after { content: ''; display: block; clear: both; }
#indexPage #mteam .bx-wrapper .bx-pager-item { float: none; }
/*合作伙伴*/



#indexPage #mpartner .content .header { display: none; }
#indexPage #mpartner .module-content { padding: 24px 0; height: 80px; }
#indexPage #mpartner .wrapper { height: auto; }
#indexPage #mpartner .wrapper ul li { height: 80px; }
#indexPage #mpartner .wrapper ul li a { width: 112px; height: auto; margin-right: 10px; margin-top: 15px; }
#indexPage #mpartner .bx-wrapper .bx-pager { display: none; }
#indexPage #mpartner .bx-wrapper .bx-controls-direction { display: block; }
#indexPage #mpartner .bx-wrapper .bx-controls-direction a.disabled { display: block; width: 36px; height: 36px; }
#mpartner .bx-wrapper .bx-controls-direction a { background: none; }
#mpartner .bx-wrapper .bx-controls-direction a i { color: #c3c6ca; font-size: 22px; margin-top: 6px; }
#mpartner .bx-wrapper .bx-controls-direction a:hover i { color: #fff; }
#mpartner .bx-wrapper .bx-controls-direction a:hover { background: none; }
#indexPage #mpartner .bx-wrapper .bx-prev { left: -58px; display: none; }
#indexPage #mpartner .bx-wrapper .bx-next { right: -58px; display: none; }
#mpartner .bx-wrapper .bx-controls-direction a { display: block; }
#mpartner .bx-wrapper .bx-controls-direction a:hover { background: #13DF81; color: #fff; }
/*联系*/ 



#indexPage #mcontact { background-color: #39424f }
#indexPage #mcontact .content { width: 1200px; margin: 0 auto; padding: 80px 0 68px; height: auto; }
#indexPage #mcontact .content:after { content: ''; display: block; clear: both; }
#indexPage #mcontact .content .header { width: 480px; float: left; }
#indexPage #mcontact .content .header p.title { color: #808b9b; text-align: left; }
#indexPage #mcontact .content .header .subtitle { text-align: left; color: #626D7D }
#indexPage #mcontact .content #contactlist { width: 720px; float: left; }
#mcontact .content #contactform { display: none; }
#mcontact .content #contactinfo { width: 720px; float: left; position: relative; }
#mcontact .content #contactinfo p { float: left; width: 290px; padding-right: 60px; margin-top: 14px; height: auto; color: #626d7d; font-size: 12px; line-height: inherit; }
#mcontact .content #contactinfo h3 { color: #808b9b; }
#mcontact #contactinfo div { position: absolute; top: 35px; left: -250px; }
#mcontact #contactinfo div:after { content: '关注'; color: #808b9b; height: 20px; font-size: 16px; line-height: 20px; overflow: hidden; position: absolute; top: -56px; left: 0px; }
#mcontact #contactinfo div a { width: 36px; height: 26px; text-align: center; border-radius: 19px; display: block; margin-right: 10px; float: left; padding-top: 10px; border: 1px solid rgba(255, 255, 255, .07); background-color: transparent; }
#mcontact #contactinfo div a i { color: #5a6575; font-size: 16px; transition: all .3s ease-out 0s; background-color: transparent; border-radius: 19px; width: 16px; }
#mcontact #contactinfo div a:hover { background-color: #000; }
#mcontact #contactinfo div a:hover i { color: #fff; background-color: #39424F; color: #fff; padding: 8px; margin-top: -8px; border-radius: 19px; }
#contactinfo div a i { margin-top: 0px; }
#mcontact #contactinfo div a:hover { background: #13df81; }
#footer { background: #39424f; border-top: 1px solid rgba(69, 79, 95, .5); }
#footer p { background: #39424f; padding: 12px 0; width: 1200px; margin: 0 auto; text-align: left; color: #4b596c }
/*内页案例*/



.npagePage #banner div { position: inherit; background-color: transparent; }
#sitecontent .npagePage .content > .header { position: absolute; top: -260px; left: 50%; margin-left: -600px; padding-top: 50px; }
#sitecontent .npagePage .content > .header .title { color: #13df81; }
#sitecontent .npagePage .content > .header .subtitle { width: 80px; height: 24px; border: 1px solid rgba(255, 255, 255, .1); display: block; margin-top: 15px; border-radius: 13px; color: transparent; position: relative; margin-top: 6px; }
#sitecontent .npagePage .content > .header .subtitle:after { content: ''; width: 34px; height: 12px; background: url(../images/icon.png) no-repeat -64px 0; display: block; margin: 5px 0 0 32px; position: absolute; top: 0px; }
#category { width: 1200px; margin: 0 auto; text-align: left; }
#category a { border-color: transparent; border-radius: 30px; padding: 6px 20px; font-size: 13px; }
#category a.active, #category a:hover { background: #13df81; color: #fff; border-color: transparent; }
#pages a.active, #pages a:hover { background: #13df81; color: #fff; }
/*内页服务*/



.npagePage #servicelist { width: 1200px; margin: 0 auto; float: none; }
.npagePage #servicelist .serviceitem { margin: 0px; width: 1200px; height: 190px; border-bottom: 1px solid #f3f3f3; position: relative; }
.npagePage #servicelist .serviceitem a { transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; }
.npagePage #servicelist .serviceitem a div { width: 690px; margin: 20px 0 0 0; height: auto; padding: 20px 0 0 0; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; }
.npagePage #servicelist .serviceitem a img { width: 240px; height: 150px; float: left; margin: 20px 40px 20px 20px; background-color: #fff; }
.npagePage #servicelist .serviceitem:hover a { background: #13df81; }
.npagePage #servicelist .serviceitem:hover div p.title { color: #fff; }
.npagePage #servicelist .serviceitem:hover div p.description { color: #fff; }
#sitecontent .npagePage #servicelist a.details { top: 72px; right: 50px; width: 35px; height: 35px; border-radius: 18px; text-align: center; border: 1px solid #dedfe1; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; display: block; overflow: hidden; position: absolute; margin: 0 }
#sitecontent .npagePage #servicelist:hover a.details { border: 1px solid #fff; }
#sitecontent .npagePage #servicelist a.details:after { width: 15px; height: 9px; background: url(../images/icon.png)no-repeat -110px -11px; display: block; margin: 13px 0 0 11px; position: absolute; top: 0px; }
.npagePage #servicelist .serviceitem:hover a.details:after { background: url(../images/icon.png)no-repeat -110px 0px; }
.npagePage #servicelist .serviceitem:hover a.details { border: 1px solid #fff; background: #fff; }
.npagePage #servicelist .serviceitem:hover div { margin-left: 40px; }
#page_none .postbody p { color: #A3A3A3; }
/*内页团队*/



.npagePage #teamlist { width: 1200px; }
.teamitem { width: 370px; height: 400px; float: left; margin: 0 44px 40px 0; position: relative; }
.teamitem a { border-top-left-radius: 6px; border-top-right-radius: 6px; width: 370px; height: 210px; }
.teamitem a img { width: 100%; height: auto; }
.teamitem .teaminfo { text-align: left; }
#teamlist .teamitem .wrap { display: none }
.teamitem .teaminfo .title { text-align: left; display: inline-block; font-size: 18px; padding-right: 20px; }
.teamitem .teaminfo .title a { color: #333; }
.teamitem .teaminfo .subtitle { display: inline-block; text-align: left; color: #999; font-size: 13px }
.teamitem .teaminfo .description { font-size: 13px; color: #999; padding-top: 26px; line-height: 26px; display: block; height: 52px; overflow: hidden; font-weight: normal; margin-top: 0px; }
.teamitem .teaminfo { width: 308px; height: 140px; display: block; padding: 30px 30px 10px; border-bottom: 1px solid transparent; border-right: 1px solid transparent; border-left: 1px solid transparent; transition: all .6s cubic-bezier(.215, .61, .355, 1); background-color: #fff; margin-top: 0px; }
.teamitem:hover .teaminfo { border-right: 1px solid #f2f2f2; border-left: 1px solid #f2f2f2; border-bottom: 5px solid #13df81; padding: 30px 30px 32px; box-shadow: 0 5px 10px rgba(0, 0, 0, .2); }
.npagePage #teamlist a.details { top: 172px; right: 30px; width: 35px; height: 35px; border-radius: 18px; text-align: center; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; display: block; overflow: hidden; position: absolute; margin: 0; opacity: 0; border: 1px solid #13DF81; background-color: #13DF81; }
.npagePage #teamlist a.details:after { width: 15px; height: 9px; background: url(../images/icon.png)no-repeat 0 -71px; display: block; margin: 13px 0 0 11px; position: absolute; top: 0px; content: ''; display: block; }
.npagePage #teamlist .teamitem:hover a.details:after { background: url(../images/icon.png)no-repeat 0 -71px; }
.npagePage #teamlist .teamitem:hover a.details { opacity: 1; top: 228px; }
/*内页新闻*/

#indexPage #mnews a.more { top: 70px; }
.Pagenews #category { width: 1200px; padding: 0 0 40px; }
.npagePage #newslist .newstitem { width: 100%; height: 159px; border: 1px solid transparent; margin-bottom: 20px; background: #f7f7f7; }
.npagePage #newslist .newsbody .date { width: 80px; float: right; font-family: HELVETICANEUELTPRO-THEX, "微软雅黑"; color: #999; padding: 36px 66px 0 0; transition: all .3s ease-out 0s; position: absolute; top: 0; right: 0px; left: auto; background-color: transparent; }
.npagePage #newslist .newsbody .date .year { height: 26px; font-size: 24px; color: #999; line-height: 26px; }
.npagePage #newslist .newsbody .date .md { font-size: 13px; color: #999; }
.npagePage #newslist .newstitem .newsimg { width: 198px; height: 128px; margin: 16px; float: left; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; display: block; position: inherit; top: auto; left: auto; bottom: auto; right: auto; }
.npagePage #newslist .newstitem .newscontent:after { content: ''; width: 230px; height: 160px; display: block; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; }
.npagePage #newslist .newstitem .news_wrapper { float: right; width: 600px; padding: 30px 0 34px 0px; position: inherit; top: auto; left: auto; bottom: auto; right: auto; height: auto; padding-right: 332px; background-color: transparent; }
.npagePage #newslist .newsbody .title { font-size: 16px; color: #717171; padding: 0; display: block; height: 24px; overflow: hidden; margin-bottom: 20px; transition: all .3s ease-out 0s; }
.npagePage #newslist .newsbody .description { height: 52px; padding: 0; }
.npagePage #newslist .newsbody { height: auto; }
.npagePage #newslist .newstitem:hover a .news_wrapper { width: 600px; padding-right: 312px; }
.npagePage #newslist .newstitem:hover { margin: 0; margin-bottom: 20px; }
.npagePage #newslist .newstitem:hover .description { color: #999 }
.npagePage #newslist .newstitem:hover .title { color: #333; }
.npagePage #newslist .newstitem:hover .newsbody .date { height: 88px; right: 20px; background-color: transparent; }
.npagePage #newslist .newstitem:hover .newscontent:after { background: #13DF81; }
.npagePage #newslist .newstitem:hover .newsbody .date .md { color: #999; }
.npagePage #newslist .newstitem:hover .newsbody .date .year { color: #999; }
#sitecontent .npagePage #newslist a.details { top: 100px; right: 108px; width: 35px; height: 35px; border-radius: 18px; text-align: center; border: 1px solid #dedfe1; transition: all .6s cubic-bezier(.215, .61, .355, 1) 0s; display: block; overflow: hidden; position: absolute; margin: 0 }
#sitecontent .npagePage #newslist a.details:after { width: 15px; height: 9px; background: url(../images/icon.png)no-repeat -110px -11px; display: block; margin: 13px 0 0 11px; position: absolute; top: 0px; content: ''; display: block; }
#sitecontent .npagePage #newslist .newstitem:hover a.details:after { background: url(../images/icon.png)no-repeat 0 -71px; }
#sitecontent .npagePage #newslist .newstitem:hover a.details { border: 1px solid #13DF81; background: #13DF81; margin-right: -36px; }
/*三级页面新闻*/



.nobanner .npagePage { padding-top: 90px; }
.nobanner #header { padding-top: 15px; padding-bottom: 5px; }
.nobanner #header.mini { padding: 0; background-color: rgba(57, 66, 79, .92); }
.nobanner #header ul li.navitem a { color: #DBDBDB; }
.nobanner #header ul li.navitem a:hover, .nobanner #header ul li.navitem a.active { color: #fff; background-color: #13df81; }
.nobanner #header { background-color: #39424F; }
.nobanner #sitecontent .npagePage .content > .header { position: inherit; top: auto; left: auto; margin: 0 auto; }
.nobanner #sitecontent .npagePage .content > .header .title { width: 800px; font-size: 18px; color: #333; margin: 0 auto; text-align: center; height: auto; line-height: inherit; }
.nobanner #sitecontent .npagePage .content > .header .subtitle { color: #999; font-size: 12px; margin: 0 auto; text-align: center; font-family: Arial, "微软雅黑"; }
.nobanner #sitecontent .npagePage .content > .header .subtitle:after { display: none; }
.nobanner .postbody { width: 1000px; color: #9C9C9C; border-top: 1px dotted #ccc; padding-top: 36px; }
#teampost .postbody { width: 100%; }
#teampost #teambody .theader .title { font-size: 20px; height: 34px; }
.nobanner #sitecontent .npagePage .content > .header { padding-bottom: 30px; padding-top: 80px; }
#teambody .theader .subtitle { color: #8F8F8F; }
#projectwrap3 { width: 100%; margin-top: 0px; }
#projectih3 { position: relative; z-index: 10; }
#projectinfo3 .header { padding: 0px; overflow: hidden; }
#projectinfo3 .header p { color: #fff; width: 570px; height: 30px; overflow: hidden; }
#projectinfo3 .header .title-warp { background: #39424f; margin: 0 auto; height: 88px; padding: 102px 0 0 0; }
#projectinfo3 .header p.title { width: 1200px; margin: 0 auto; font-size: 20px; font-weight: 100; line-height: 30px; }
#projectinfo3 .header p.subtitle { width: 1200px; margin: 0 auto; color: #fff; opacity: .7; filter: alpha(opacity:70);
height: 16px; overflow: hidden; line-height: inherit; font-size: 12px; }
#projectinfo3 .header .description { width: 1040px; margin: 0 auto; box-shadow: 2px 8px 30px rgba(0, 0, 0, .08); -webkit-box-shadow: 0 8px 30px rgba(0, 0, 0, .08); padding: 50px 70px 20px; position: relative; margin-top: 20px; font-size: 13px; }
#projectinfo3 .header .description p { color: #A3A3A3; height: auto; width: auto; }
#projectwrap3 #projectlist .content_list { width: 1200px; }
#projectwrap3 #projectlist .projectitem { margin: 0 5px 32px; width: 226px; height: 210px; }
#projectwrap3 #projectlist .projectitem a .project_info div { top: auto; }
#projectwrap3 #projectlist .projectitem a .project_info p.description { display: none; }
#projectwrap3 #projectlist .projectitem a .project_info p.title { font-size: 14px; color: #666; line-height: 24px; display: block; margin-top: 10px; height: 24px; overflow: hidden; text-overflow: ellipsis; width: 100%; padding: 0; }
#projectwrap3 #projectlist .projectitem a .project_info p.subtitle { color: #999; font-size: 13px; line-height: 24px; height: 24px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 100%; padding: 0; }
#projectwrap3 #projectlist .projectitem:hover { box-shadow: 0 6px 10px 5px rgba(0, 0, 0, .0); }
#projectwrap3 #projectlist .projectitem:hover a img { margin-top: auto; }
#projecttags3 a { margin: 30px 5px; padding: 0 20px; height: 30px; line-height: 30px; display: inline-block; border-radius: 30px; }
#projectinfo3 .header .description:after { content: ''; display: block; width: 100%; height: 20px; background: #fff; position: absolute; bottom: 1px; left: 0px; }
#projecttags3 a:hover { color: #fff; background: #13df81; }
#projectbody3 { padding: 8px 70px 80px; width: 1040px; margin: 0 auto; box-shadow: 2px 0px 30px rgba(0, 0, 0, .08); -webkit-box-shadow: 0 0px 30px rgba(0, 0, 0, .08); position: relative; z-index: 2; margin-top: -6px; position: relative }
#projectshow3 { width: 1180px; margin: 0 auto; }
#projectimages3 { text-align: center; }
#projectimages3 img { width: auto; display: inline-block; margin: 20px auto; float: none; }
.postbody a { color: #13DF81; }
.nobanner .postbody3 { border-color: transparent; }
#projectshow3 #projectib3 { margin-top: 0px; }
/*分享到*/

#shares { margin-right: -10px; }
#shares a#sshare { display: none; }
#shares a#gotop { margin-top: 0px; }
#shares a i { margin-top: 12px; }
#shares a { width: 40px; height: 40px; }
#shares a i.fa-weixin { margin: 12px 0 0 15px; }
#shares a#gotop i { margin-top: 8px; }
#online_open { width: 40px; height: 40px; bottom: 160px; margin-right: -10px; }
#online_open i { margin-top: 12px; }
#olx_tel p { color: inherit; }
#online_lx { margin-right: -10px; border-radius: 0; }
#olx_head { border-radius: 0; }
#indexPage #mnews .content_list { padding-top: 80px; }
/*新*/

.npagePage #banner { padding-top: 90px; background-color: #39424f; }
#projectlist .wrapper { margin-left: 15px; }
#pages { width: 1200px; margin: 0 auto; text-align: left; padding: 40px 0 80px; }
.npagePage .content { padding-top: 60px; }
#sitecontent .npagePage3 .content { padding-top: 0px; }
.Pageanli #projectlist .projectitem a .project_info { position: relative; padding: 16px 0 6px 0px; bottom: 0px; width: auto; }
.Pageanli#mproject #projectlist .projectitem { height: auto; }
.Pageanli #projectlist .projectitem:hover a img { margin-top: 0px; }
.Pageanli #projectlist .projectitem a .project_info p.description { opacity: 0; right: 40px; }
.Pageanli #projectlist .projectitem:hover a .project_info p.description { right: 20px; opacity: 1 }
#header ul li.navitem a i { display: inherit; }
#newslist .newstitem{animation-name: fadeInUp;}
