.container {
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 2%;
    align-items: flex-start;

    .antCard {
        // width: 280px;
        // overflow: hidden;
        margin: 2% 2%;

        img {
            height: 200px;
            width: auto;

            @media only screen and (max-width: 640px) {
                height: auto;
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 640px) {
        display: block;
    }

}

.titleContainer {
    display: flex;
    align-items: flex-start;
    margin: 20px 40px;
}
.title {
    display: inline;
    font-size: 24px;
    line-height: 30px;
    color: #555;
}
.description {
    display: inline;
    font-size: 14px;
    color: #bbb;
    line-height: 26px;
    margin-left: 10px;
}