.container {
    padding-top: 12px;
    background: url('../../assets/images/public/background.jpg') no-repeat;
    min-height: 600px;
    text-align: center;
    margin: 20px 2%;
    padding: 2%;
}
.titleContainer {
    display: flex;
    align-items: flex-start;
    margin: 20px 0px;
}
.title {
    display: inline;
    font-size: 24px;
    line-height: 30px;
    color: #555;
}
.description {
    display: inline;
    font-size: 14px;
    color: #bbb;
    line-height: 26px;
    margin-left: 10px;
}
.flex {
    display: flex !important;
    justify-content: space-between;
    padding: 20px;

    @media only screen and (max-width: 640px) {
        display: block !important;
    }
}
.left {
    border-radius: 5px;
    box-shadow: 0 0 0 20px #e5f1e8;
    transform: translate3d(0, 0, 0);
    // width: 480px;
    position: relative;

    img {
        width: 100%;
    }
}

.right {
    text-align: left;
    margin-top: 4%;
    padding: 2%;
    margin-left: 4%;

    @media only screen and (max-width: 640px) {
        margin-left: 0%;
        padding-left: 0;
    }

    .className {
        font-weight: 600;
        color: #57bc4c;
        font-size: 20px;
    }

    .classDescription {
        font-size: 13px;
        height: 52px;
        overflow: hidden;
        color: #999;
    }
}