.container {
    padding-top: 20px;
    padding: 5%;
    background: #F5F7FA;

    .flex {
        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: 640px) {
            display: block;
            text-align: center;
        }

        p {
            width: 30%;

            @media only screen and (max-width: 640px) {
                width: 100%;
            }
        }
    }
}