.container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 2%;

    @media only screen and (max-width: 640px) {
        display: block;
    }

    .antCard {
        overflow: hidden;
        margin: 2% 2%;

        > div {
            padding: 0;
        }

        img {
            width: 100%;
            transition: all 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}